# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle
src/test/java/org/apache/commons/.DS_Store
src/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/org/.DS_Store
src/test/java/org/apache/.DS_Store
src/test/java/org/apache/commons/lang3/.DS_Store
.DS_Store
